{% extends 'base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'brassin/css/style.css' %}" />
{% endblock %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="page-header">Achats</h1>
    <h4>TOTAL: {{ total_achats |floatformat}} €</h4>
  </div>
</div>

<a class="btn btn-info btn-sm" href="{% url 'achat_create' %}"><i class="fas fa-plus"></i>  Ajouter achat</a>
<br/><br/>

{# TABLEAU INGREDIENTS #}

<table class="table" id="Achat-table">
  <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Ingredient</th>
      <th>Quantité</th>
      <th>Prix</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for achat in fonctionnement %}
    <tr>
      <td>{{ achat.date_achat }}</td>
      <td>{{ achat.ingredient }}</td>
      <td>{% if achat.quantite < 1 %}{% widthratio achat.quantite 1 1000 %} g{% else %}{{ achat.quantite|floatformat }} kg{% endif %}</td>
      <td>{{ achat.prix|floatformat:2 }} €</td>
      <td><a class="btn btn-outline-dark btn-sm" href="{% url 'achat_update' achat.id %}"><i class="fas fa-sync"></i></a></td>
      <td><a class="btn btn-outline-danger btn-sm" href="{% url 'achat_delete' achat.id %}"><i class="fas fa-times"></i></a></td>
    </tr>
    {% empty %}
      <tr>
        <td colspan="7" class="text-center bg-warning">Pas encore d'achat.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'brassin/js/brassin.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.20/sorting/datetime-moment.js"></script>
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/plug-ins/1.10.25/dataRender/datetime.js"></script>
  <script>
  $('#Achat-table').DataTable({
        "info" : false,
        "order": [[ 0, "desc" ]],
        "language": {"url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"},
        "columnDefs": [
            { "orderable": false, "targets": [4,5] },
            { "targets": [0], render: $.fn.dataTable.render.moment('DD/MM/YYYY','DD/MM/YYYY')}
        ]
  });
  </script>
{% endblock %}
