{% extends 'base.html' %}
{% load static %}
{% block content %}
{{ form.media }}
{% load crispy_forms_tags %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="page-header">Produits</h1>
    <h4>{{ produit.type_produit }} {{ produit.contenance }} - editer<a class="btn btn-outline-warning btn-sm float-right" href="{% url 'home' %}"><i class="fas fa-backspace"></i></a></h4>
  </div>
</div>

<div class="card h-100">

  <div class="card-body">

    <form action="" method="post">
      {% csrf_token %}
      {{ form.type_produit|as_crispy_field }}
      {{ form.contenance|as_crispy_field }}
      {{ form.prix|as_crispy_field }}

      <button type="submit" class="btn btn-info">Editer</button>

    </form>

  </div>

</div>

{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{% static 'brassin/js/brassin.js' %}"></script>
{% endblock %}