{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="page-header">Recette</h1>
    <h4>Recette {{ recetteingredient.recette_id }}<a class="btn btn-outline-warning btn-sm float-right" href="{% url 'recette_consult' recetteingredient.recette.id %}"><i class="fas fa-backspace"></i></a>
    </h4>
    <h5>Supprimer ingredient</h5>
  </div>
</div>

<div class="alert alert-warning">

  	<h4><i class="fa fa-exclamation-triangle"></i> Êtes-vous sûr de vouloir supprimer {{ recetteingredient.ingredient }} ?</h4>
  	<br/>

	<form method="post" action="">
	   {% csrf_token %}
	   <input type="submit" value="Oui" class="btn btn-warning"/> <a class="btn btn-secondary" href="{% url 'recette_consult' recetteingredient.recette.id %}">Non</a>
	</form>

</div>

{% endblock %}