{% extends 'base.html' %}

{% load static %}


{% block content %}

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="page-header">Recette</h1>
    </div>
  </div>

  <a class="btn btn-info btn-sm" href="{% url 'recette_create' %}"><i class="fas fa-plus"></i>  Ajouter recette</a>
  <br/><br/>

  {# TABLEAU RECETTES #}

  <table class="table table-responsive" id="Recette-table">
    <thead class="thead-light">
      <tr>
        <th>Nom</th>
        <th>Type</th>
        <th>Nombre</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for recette in recettes %}
      <tr>
        <td><a class="btn btn-outline-dark btn-sm" href="{% url 'recette_consult' recette.id %}">{{ recette.nom }}</a></td>
        <td>{{ recette.type_biere }}</td>
        <td>{{ recette.nombre_brassin }}</td>
        <td><a class="btn btn-outline-dark btn-sm" href="{% url 'recette_update' recette.id %}"><i class="fas fa-sync"></i></a></td>
        <td><a class="btn btn-outline-danger btn-sm" href="{% url 'recette_delete' recette.id %}"><i class="fas fa-times"></i></a></td>
      </tr>
      {% empty %}
        <tr>
          <td colspan="10" class="text-center bg-warning">Pas encore de recette.</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

